
/* header section */

.header {
    height: 500px;
    width: 100%;
    overflow: hidden;
}
#header1 {
    height: 350px;
    position: relative;
    right: 100px;
    border-bottom-right-radius: 100%;
}
#header2{
    height: 350px;
    width: 100%;
    position: relative;
    top: 150px;
    left: 80px;
    border-top-left-radius: 100%;
}
#introduction{
    text-align: center;
    padding-top: 80px;
}
#introduction h1{
    font-size: 50px;
    color: rgb(255, 166, 0);
}
#introduction p {
    font-size: 24px;
}
.paragraph{
    color: rgb(197, 15, 70);
}
#btn1 {
    margin-top: 20px;
    width: 140px;
    height: 50px;
    background-color: rgb(240, 160, 13);
    font-size: 20px;
    color: white;
    border: 2px solid blue;
}


/* offers section */

.offers{
    border-top: 2px solid blue;
    border-top-style: ridge;
    padding-top: 30px;
    background-image: url(images/background1.jpg);
    text-align: center;
    /* height: 500px; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.control{
    width: 100%;
    height: 400px;
}
